.sign .logo {
  padding: 2rem;
  position: absolute;
}

:root {
  --text-fontsize: 1.2rem;
}

.sign {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.sign p {
  font-size: var(--text-fontsize);
  padding: 1rem;
}

.sign h1 {
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 1rem;
}

.sign-panel {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  text-align: center;
  justify-content: space-between;
}

.sign-panel > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign-panel > form > input {
  margin: 1rem;
  text-align: center;
  padding: 1rem;
  border-radius: 16px;
  border: 3px #555 solid;
  font-weight: lighter;
  font-size: 1.5rem;
  height: 20px;
}

.sign-panel button {
  padding: 1rem;
  background-color: white;
  color: black;
  width: 50%;
  margin: 0.7rem auto 0 auto;
  font-size: var(--text-fontsize);
}

.sign-panel button:hover {
  cursor: pointer;
  background-color: antiquewhite;
}

.sign-panel button:disabled {
  background-color: #434343;
  cursor: default;
}

.sign a {
  color: #407aac;
  font-size: var(--text-fontsize);
}

.sign p.form-error {
  padding: 0;
  color: rgb(218, 118, 118);
}

@media (min-width: 460px) {
  .sign-panel {
    width: 60%;
  }
}

@media (min-width: 775px) {
  .sign-panel {
    width: 40%;
  }
}
