.settings * {
    font-size: 24px;
}
.settings form {
    border: 2px solid #555;
    padding: 30px;
    border-radius: 16px;
    width: 680px;
}

.settings h1 {
    text-align: center;
    font-size: 72px;
    margin-bottom: 30px;
}

.settings label {
    display: block;
    margin-bottom: 5px;
}

.settings input[type="text"],
.settings input[type="email"],
.settings input[type="password"],
.settings textarea,
.settings select {
    width: 654px;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #555;
    border-radius: 10px;
}

.settings input[type="email"]{
    background: #1f1f1f;
}

.settings textarea {
    resize: vertical;
    height: 80px;
}

.settings button {
    padding: 10px;
    border: 1px solid #00aaff;
    border-radius: 6px;
    cursor: pointer;
    justify-content: center;
}

.settings button:hover {
    background-color: rgb(44, 112, 190, 0.5);
}

.settings .buttonContainer {
    text-align: center;
}
